.heading{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

.title{
    text-align: center;
    font-size:  22pt;
    font-weight: bold;
}

body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,Garamond, serif;
}
a{
    color:#a4a400;
}

blockquote{
    font-style: italic;
    background-color: #FFFFA8;
}

.footer{
    text-align: right;
}
pre{
    text-align: left;
}