body{
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea{
    width: 90%;
    height: 400px;
    font-family: monospace;
}

.controlsContainer{
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-weight: bold;
    height: 300px;
}

.playcontrolls fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.animation fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.size fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.speed fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

fieldset{
    border: 5px black solid;
}

.validation{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}
