<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" type="text/css" rel="stylesheet"/>
        <title>Layout</title>
    </head>
    <body>
        <p class="dotted">A dotted border.</p>
        <p class="dashed">A dashed border.</p>
        <p class="solid">A solid border.</p>
        <p class="double">A double border.</p>
        <p class="groove">A groove border. The effect depends on the border-color value</p>
        <p class="ridge">A ridge border. The effect depends on the border-color value</p>
        <p class="inset">A inset border. The effect depends on the border-color value</p>
        <p class="outset">A outset border. The effect depends on the border-color value</p>
        <p class="none">No border.</p>
        <p class="hidden">A hidden border.</p>
        <p class="mix">A mixed border.</p>
    </body>
</html>